{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi, you're receiving this email because you requested a password reset for your user account at MVHS SBS Forum.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

If you have any questions, please email: mvhsforum@gmail.com

{% trans "Thank you," %}

{% blocktrans %}MVHS SBS Team{% endblocktrans %}

{% endautoescape %}